networks:
    portal:
        external: true

services:
    stirling-pdf:
        restart: always
        image: frooodle/s-pdf:0.45.6
        container_name: stirling-pdf
        networks:
        - portal
