version: '3.5'

networks:
    portal:
        external: true

services:
    stirling-pdf:
        restart: always
        image: frooodle/s-pdf:0.17.2
        container_name: stirling-pdf
        networks:
        - portal
