networks:
    portal:
        external: true

services:
    vaultwarden:
        restart: always
        image: vaultwarden/server:1.32.6
        container_name: vaultwarden
        volumes:
        - "{{ fs.app_data }}/data:/data"
        environment:
        - DOMAIN=https://vaultwarden.{{ portal.domain }}/
        - ADMIN_TOKEN=unused
        - DISABLE_ADMIN_TOKEN=true
        networks:
        - portal
