networks:
    portal:
        external: true

services:
    memos:
        restart: always
        image: neosmemo/memos:0.26.1
        container_name: memos
        volumes:
        - "{{ fs.app_data }}/data:/var/opt/memos"
        networks:
        - portal
