networks:
    portal:
        external: true

services:
    mqttx:
        restart: always
        image: emqx/mqttx-web:v1.12.0
        container_name: mqttx
        environment:
        - BASE_URL=https://mqttx.{{ portal.domain }}
        networks:
        - portal
