networks:
    portal:
        external: true

services:
    navidrome:
        restart: always
        image: deluan/navidrome:0.54.2
        container_name: navidrome
        volumes:
        - "{{ fs.app_data }}/data:/data"
        - "{{ fs.shared }}/music:/music"
        environment:
        - ND_REVERSEPROXYUSERHEADER=X-Ptl-User
        - ND_REVERSEPROXYWHITELIST=0.0.0.0/0
        - ND_DEVAUTOCREATEADMINPASSWORD=admin
        networks:
        - portal
