networks:
    portal:
        external: true

services:
    actual:
        restart: always
        image: actualbudget/actual-server:24.10.1
        container_name: actual
        volumes:
        - "{{ fs.app_data }}/data:/data"
        networks:
        - portal
