networks:
    portal:
        external: true

services:
    wbo:
        restart: always
        image: lovasoa/wbo:v2.16.0
        container_name: wbo
        volumes:
        - "{{ fs.app_data }}/opt/app/server-data:/opt/app/server-data"
        networks:
        - portal
        user: "0:0"
