networks:
    portal:
        external: true

services:
    audiobookshelf:
        restart: always
        image: ghcr.io/advplyr/audiobookshelf:2.17.5
        container_name: audiobookshelf
        volumes:
        - "{{ fs.app_data }}/audiobooks:/audiobooks"
        - "{{ fs.app_data }}/podcasts:/podcasts"
        - "{{ fs.app_data }}/metadata:/metadata"
        - "{{ fs.app_data }}/config:/config"
        networks:
        - portal
