version: '3.5'

networks:
    portal:
        external: true

services:
    <<name>>:
        restart: always
        image: <<name>>:$$edit$$
        container_name: <<name>>
        volumes:
        - "{{ fs.app_data }}/data:/data"
        environment:
        - BASE_URL=https://<<name>>.{{ portal.domain }}
        networks:
        - portal
