networks:
    portal:
        external: true

services:
    kavita:
        restart: always
        image: jvmilazz0/kavita:0.8.3
        container_name: kavita
        volumes:
        - "{{ fs.app_data }}/kavita/config:/kavita/config"
        - "{{ fs.shared }}/comics:/comics"
        - "{{ fs.shared }}/books:/books"
        networks:
        - portal
