networks:
    portal:
        external: true

services:
    glances:
        restart: always
        image: nicolargo/glances:4.5.4-full
        container_name: glances
        volumes:
        - "{{ fs.app_data }}/data:/data"
        - /var/run/docker.sock:/var/run/docker.sock:ro
        environment:
        - GLANCES_OPT=-w --disable-plugin network,connections,processlist,diskio
        networks:
        - portal
