networks:
    portal:
        external: true

services:
    docuseal:
        restart: always
        image: docuseal/docuseal:1.7.9
        container_name: docuseal
        volumes:
        - "{{ fs.app_data }}/data:/data"
        environment:
        - "HOST=docuseal.{{ portal.domain }}"
        networks:
        - portal
